:root{
    --color-table: rgb(51, 23, 191);
    --background-image-color: rgba(25, 92, 187, 0.514);
    --main-background-color: #195cbb;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 10rem;
}

header h1 {
    color: var(--primary-color-font);
    font-family: var(--title-font);
    font-size: 5rem;
    letter-spacing: 0.5rem;
}

main{
    height: 80vh;
}

/*Contenedor principal*/

.container{
    width: 90%;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.797));
    display: grid;
    grid-template: 1fr 2fr 2fr 1fr  / 1fr 2fr 2fr 1fr;
}

/*Header*/

.box-header{
    grid-area: 1 / 1 / 2 / 5;
    flex-flow: row nowrap;
}

/*Contenedor de bienvenida*/

.box-header__box-welcome{
    border-top-left-radius: 15px;
}

.box-header__box-welcome h2{
    font-size: 2.4rem;
}

.box-header__box-welcome span::before{
    content: " la p\00E1gina web de ";
}

/*Contenedor de horario*/

.box-header__box-schedule{
    border-top-right-radius: 15px;
    flex-direction: column;
}

.box-header__box-schedule h2{
    font-size: 2rem;
    font-weight: bolder;
}

.box-header__box-schedule p{
    margin: 0;
    font-size: 1.5rem;
}

.box-header__box-schedule h2 span::after{
    content: "Horario: \A ";
    white-space: pre;
}

.box-header__box-schedule p span::after{
    content: "Lunes a viernes 9\003A 00am &#45; 8\003A 00pm\AS&aacute;bados y domingos 9&#58;00am &#45; 10&#58;00pm";
    white-space: pre;
}

.box-header__box-schedule:hover  {
    background: rgb(9,9,121);
    background: linear-gradient(0deg, rgba(9,9,121,1) 2%, rgba(25,92,187,1) 100%);
    cursor: pointer;
    transition-duration: 200ms;
    transition-timing-function: linear;
    transition-property: background;
}

.box-header__box-schedule:active {
    background: #195cbb;
}

/*Contenedor de primera imagen*/

.box-img1{
    grid-area: 2 / 1 / 4 / 2;
    border-top-right-radius: 0;
}

.box-img1:hover .box-img1__underscore{
    background-color: var(--background-image-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box-img1:hover .box-img1__underscore p{
    font-size: 3rem;
    text-align: center;
}

/*Contenedor productos*/

.box-products{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-products p{
    font-size: 2.4rem;
    font-weight: bold;
}

/*Contenedor reglas del tenis*/

.box-rules{
    grid-area: 3 / 2 / 4 / 3;
    border-top-left-radius: 0;
    background-image: url(https://static7.depositphotos.com/1193075/692/i/450/depositphotos_6925255-stock-photo-tennis-court-net.jpg);
}

.box-rules__underscore{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.596);
}

.box-rules__underscore p{
    font-size: 2.2rem;
}

/*Contenedor resultados juegos*/

.box-score{
    grid-area: 2 / 3 / 3 / 4;
    display: inherit;
    position: relative;
}

.box-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-score p{
    font-size: 1.8rem;
}

.box-score table {
    margin: 2rem;
    border-collapse: collapse ;
    font-size: 2rem;
    text-align: center;
    width: 90%;
}

.box-score thead {
    background-color: var(--color-table);
}

.box-score tbody {
    background-color: white;
    color: var(--color-table);
}

.box-score .score-name {
    text-align: left;
    padding-left: 0.5rem;
}

.box-score tr:hover{
    background-color: rgb(11, 11, 126);
    color: white;
}

.box-score:hover{
    cursor: pointer;
}

.click{
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition-property: all;
    transition-duration: 50ms;
    transition-timing-function: linear;
}

.box-score:active .click {
    background: #1885cd88;
    height: 100%;
}

/*Contenedor blog*/

.box-blog{
    grid-area: 3 / 3 / 4 / 4;
    border-bottom-right-radius: 0;
    background-image: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-duration: 50ms;
    transition-timing-function: linear;
}

.box-blog__text{
    display: unset;
    text-align: center;
    font-size: 1.9rem;
    margin: 2rem;
    font-weight: bold;
}

.box-blog:hover{
    background-color: rgba(128, 128, 128, 0.502);
}

.box-blog:active{
    background: url(https://www.puntodebreak.com/files/styles/eht/public/novak-djokovic-analisis-cuadro-masculino-usopen-2021.png?itok=KQC2y-QB);
    background-size: 100%;
    background-position: center;
    background-size: cover;
}

/*Contenedor segunda imagen*/

.box-img2{
    grid-area: 2 / 4 / 4 / 5;
    border-bottom-left-radius: 0;
    background-position: center;
}

.box-img2:hover .box-img2__underscore{
    background-color: var(--background-image-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box-img2:hover .box-img2__underscore p{
    font-size: 3rem;
    text-align: center;
}

/*Footer*/

.box-footer{
    grid-area: 4 / 1 / 5 / 5;
    flex-flow: row wrap;
}

/*Contenedor reservar clase*/

.box-footer__box-date{
    border-bottom-left-radius: 15px;
    justify-content: center;
}

.box-footer__box-date p{
    font-size: 2.4rem;
    text-align: center;
    margin: 1rem;
}

.box-footer__box-date span::after{
    content: "&#128095; Reservar clase &#128095;";
}

/*Contenedor direcciÃ³n*/

.box-footer__box-location{
    border-bottom-right-radius: 15px;
    background-image: url(https://los40es00.epimg.net/los40/imagenes/2018/02/20/bigbang/1519126121_787279_1519126188_noticia_normal.jpg);
    background-size: 100%;
    background-position: center;
}

.box-footer__box-location p{
    font-size: 2.4rem;
    font-weight: bold;
}
